

h1{
    margin: 0;
    
}
.header{
    background-color: blueviolet;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}

.header-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3%;
    
    
    
}
/* .header-buttons button{
    padding: 10%;
    
    

} */